<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ajax example. Auto REST in Spring Boot</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</head>
<body>
<h1>Test your REST API dynamically, Just the JPA repository</h1>
<div style="overflow: hidden">
Choose the country: <br>
<input oninput="getCountry_Auto(this)">
<div id="output"></div>
</div>
<div>
<a href="/">@RestControlle REST example wit POST</a>
</div>
</body>
</html>